*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 50%;
    margin: 20px auto;
}

.newspaper{
    margin-top: 10px;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
}