*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    position: relative;
}

.nav{
    margin: 10px;
    list-style-type: none;
}

.nav li{
    position: relative;
    width: 160px;
    height: 40px;
    background-color: #0D90DF;

    border: 2px dashed white;
    box-shadow: 0 0 4px #000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    border-radius: 16px;
    text-align: center;
}

.nav li a{
    display: block;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 550;
}
.nav li:hover .subnav{
    display: block;
}

.subnav{
    display: none;
    position: absolute;
    top: 0;
    right: -160px;

    list-style-type: none;
}

.subnav li:nth-child(2){
    height: 120px;
}